<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="delivery.repository.deliveryMapper">
    <insert id="insert" parameterType="DeliveryDto">
        INSERT INTO spring.delivery
        (ord_det_id, ord_id, waybill_num, mem_id, dlvy_sts, pack_type, rg_num, md_num)
        VALUES
        (#{ord_det_id},#{ord_id},#{waybill_num},#{mem_id},#{dlvy_sts},#{pack_type},#{rg_num},#{md_num})
    </insert>

    <select id="select" parameterType="long" resultType="DeliveryDto">
        SELECT *
        FROM spring.delivery
        WHERE
        ord_det_id=#{ord_det_id}
    </select>

    <select id="selectAll" resultType="DeliveryDto">
        SELECT *
        FROM spring.delivery
        ORDER BY rg_date DESC, ord_id DESC
    </select>

    <select id="selectListByWaybillNum" resultType="DeliveryDto">
        select *
        from delivery
        where waybill_num = #{waybill_num};
    </select>

    <select id="selectForDelivery" resultType="OrderDetailDto">
        select od.*, ct.column_sts, m.mem_name, d.waybill_num, d.dlvy_start_date, d.dlvy_cmplt_date
        from order_detail as od
                 join code_table as ct on od.code_name = ct.code_name
                 left join member as m on od.mem_id = m.mem_id
                 left join delivery as d on od.ord_det_id = d.ord_det_id
        where ct.code_type = 1
        order by od.ord_det_id desc
    </select>

    <select id="selectPackTypeByWaybillNum" resultType="string">
        select d.pack_type
        from delivery d
                 join(
            select max(ord_det_id) ord_det_id
            from delivery
            where waybill_num = #{wabill_num}
        ) max on max.ord_det_id = d.ord_det_id;
    </select>

    <update id="updateStatus" parameterType="DeliveryDto">
        UPDATE spring.delivery
        SET
            dlvy_cmplt_date = current_timestamp,
            dlvy_sts = #{dlvy_sts},
            md_num = #{md_num},
            md_date = current_timestamp
        WHERE ord_det_id = #{ord_det_id}
    </update>

    <delete id="delete">
        DELETE FROM spring.delivery WHERE ord_det_id = #{ord_det_id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM spring.delivery
    </delete>

    <select id="count" resultType="int">
        SELECT count(*) FROM spring.delivery
    </select>

    <sql id="searchCondition">
        <if test='start_date != "" and end_date != "" and start_date != null and end_date != null'>
            <choose>
                <when test='date_type == "orderDate"'>
                    AND od.ord_date BETWEEN STR_TO_DATE(#{start_date}, '%Y-%m-%d') AND STR_TO_DATE(#{end_date}, '%Y-%m-%d')
                </when>
                <when test='date_type == "DeliveryStartDate"'>
                    AND d.dlvy_start_date BETWEEN STR_TO_DATE(#{start_date}, '%Y-%m-%d') AND STR_TO_DATE(#{end_date}, '%Y-%m-%d')
                </when>
                <when test='date_type == "DeliveryCompleteDate"'>
                    AND d.dlvy_cmplt_date BETWEEN STR_TO_DATE(#{start_date}, '%Y-%m-%d') AND STR_TO_DATE(#{end_date}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <choose>
            <when test='keyword_type == "ord_id"'>
                AND od.ord_id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='keyword_type == "ord_det_id"'>
                AND od.ord_det_id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='keyword_type == "waybill_num"'>
                AND od.waybill_num LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='keyword_type == "dlvy_sts"'>
                AND od.dlvy_sts LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='keyword_type == "mem_name"'>
                AND m.mem_name LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='keyword_type == "mem_id"'>
                AND m.mem_id LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </sql>

    <select id="searchResultCnt" parameterType="SearchDeliveryCondition" resultType="int">
        select count(*)
        from order_detail as od
        join code_table as ct on od.code_name = ct.code_name
        left join member as m on od.mem_id = m.mem_id
        left join delivery as d on od.ord_det_id = d.ord_det_id
        where ct.code_type = 1
        <include refid="searchCondition"/>
    </select>

    <select id="searchSelectPage" parameterType="SearchDeliveryCondition" resultType="OrderDetailDto">
        select od.*, ct.column_sts, m.mem_name, d.waybill_num, d.dlvy_start_date, d.dlvy_cmplt_date
        from order_detail as od
        join code_table as ct on od.code_name = ct.code_name
        left join member as m on od.mem_id = m.mem_id
        left join delivery as d on od.ord_det_id = d.ord_det_id
        where ct.code_type = 1
        <include refid="searchCondition"/>
        order by od.ord_det_id desc
        LIMIT #{offset}, #{pageSize}
    </select>

</mapper>