<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order.repository.orderMapper">
	<insert id="insert">
		INSERT INTO spring.order
		(mem_id, tot_prod_name, tot_prod_price, tot_pay_price,
		tot_prod_disc, tot_ord_qty, dlvy_fee, pay_way, ord_ing, rg_num, md_num)
		VALUES
		(#{mem_id}, #{tot_prod_name}, #{tot_prod_price},#{tot_pay_price},
		#{tot_prod_disc}, #{tot_ord_qty}, #{dlvy_fee}, #{pay_way}, #{ord_ing}, #{rg_num}, #{md_num})
		<selectKey keyProperty="ord_id" resultType="Long" order="AFTER">
			SELECT MAX(ord_id) FROM spring.order
		</selectKey>
	</insert>
	<insert id="insertAll">
		INSERT INTO spring.order
		(mem_id, tot_prod_name, tot_prod_price, tot_pay_price,
		tot_prod_disc, dlvy_fee, tot_ord_qty, pay_way, rg_num, md_num,
		ord_date)
		VALUES
		(#{mem_id}, #{tot_prod_name}, #{tot_prod_price},#{tot_pay_price},
		#{tot_prod_disc}, #{dlvy_fee}, #{tot_ord_qty}, #{pay_way}, #{rg_num}, #{md_num},
		#{ord_date})
		<selectKey keyProperty="ord_id" resultType="Long" order="AFTER">
			SELECT MAX(ord_id) FROM spring.order
		</selectKey>
	</insert>

	<select id="select" resultType="OrderDto">
		SELECT *
		FROM spring.order
		WHERE
		ord_id=#{ord_id}
	</select>

	<update id="update">
		UPDATE spring.order
		SET
		tot_prod_name = #{tot_prod_name},
		tot_prod_price = #{tot_prod_price},
		tot_pay_price = #{tot_pay_price},
		tot_prod_disc = #{tot_prod_disc},
		dlvy_fee = #{dlvy_fee},
		tot_ord_qty = #{tot_ord_qty},
		pay_way = #{pay_way},
		rg_num = #{rg_num},
		md_date = current_timestamp,
		md_num = #{md_num}
		WHERE ord_id = #{ord_id}
	</update>

	<update id="updateStatus">
		UPDATE spring.order
		SET
		ord_ing =#{ord_ing},
		ord_fail=#{ord_fail},
		ord_cmplt = #{ord_cmplt},
		prod_ing = #{prod_ing},
		dlvy_prep_ing = #{dlvy_prep_ing},
		dlvy_ing = #{dlvy_ing},
		dlvy_cmplt = #{dlvy_cmplt},
		ord_cxl = #{ord_cxl},
		ord_ex = #{ord_ex},
		ord_rfnd = #{ord_rfnd},
		md_date = current_timestamp
		WHERE ord_id = #{ord_id}
	</update>

	<delete id="delete">
		DELETE FROM spring.order WHERE ord_id = #{ord_id}
	</delete>

	<select id="selectAll" resultType="OrderDto">
		SELECT *
		FROM spring.order
		ORDER BY rg_date DESC, ord_id DESC
	</select>
	
	<select id="selectAllByUserIdAndPeriod" parameterType="map" resultType="OrderDto">
		SELECT *
		FROM spring.order
		WHERE mem_id = #{id}
		AND ord_date >= DATE_SUB(NOW(), INTERVAL #{period} DAY)
		ORDER BY ord_date DESC, ord_id DESC
	</select>
	
	<select id="selectByOrderMainImg" resultType="string">
		SELECT pi.upld_path
		FROM product_image pi
		JOIN order_detail od ON pi.prd_id = od.prod_id
		JOIN (
		    SELECT MIN(ord_det_id) ord_det_id
		    FROM order_detail
		    WHERE ord_id = #{ord_id}
		    GROUP BY ord_id
		) min_od ON od.ord_det_id = min_od.ord_det_id
	</select>
	
	<select id="selectByOrderId" resultType="OrderDto">
		SELECT *
		FROM spring.order ord
		JOIN pay_discount pd ON ord.ord_id = pd.ord_id
		WHERE ord.ord_id = #{ord_id};
	</select>
	
	<delete id="deleteAll">
		DELETE FROM spring.order
	</delete>

	<select id="count" resultType="int">
		SELECT count(*) FROM spring.order
	</select>
	
	<sql id="searchCondition">
       	<choose>
       		<when test='date_type=="OSO_ORD_DATE"'>
       			AND ord_date BETWEEN STR_TO_DATE(#{start_date}, '%Y-%m-%d') AND STR_TO_DATE(#{end_date}, '%Y-%m-%d')
       		</when>
       		<otherwise>
       		</otherwise>
       	</choose>
       	<choose>
	        <when test='keyword_type=="order_id"'>
       			AND ord_id LIKE concat('%', #{keyword}, '%')
       		</when>
       		<otherwise>
       		</otherwise>
       	</choose>
	</sql>
	
    <select id="searchSelectPage" parameterType="SearchOrderCondition" resultType="OrderDto">
	    SELECT *
        FROM spring.order
        WHERE true
        	<include refid="searchCondition"/>
	    ORDER BY ord_date DESC, ord_id DESC
	    LIMIT #{offset}, #{pageSize}
    </select>
    
    <select id="searchResultCnt" parameterType="SearchOrderCondition" resultType="int">
	    SELECT count(*)
        FROM spring.order
        WHERE true
           	<include refid="searchCondition"/>
    </select>
</mapper>