<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order.repository.orderHistoryMapper">
    <insert id="insert" parameterType="OrderHistoryDto">
        INSERT INTO spring.order_history
        (ord_id, mem_id, code_name, ord_date, tot_prod_name, tot_prod_price, tot_pay_price, tot_ord_qty, pay_way, rg_num, md_num)
        VALUES
        (#{ord_id},#{mem_id},#{code_name},#{ord_date}, #{tot_prod_name},#{tot_prod_price},#{tot_pay_price},#{tot_ord_qty},#{pay_way},#{rg_num},#{md_num});
    </insert>

    <select id="select" parameterType="long" resultType="OrderHistoryDto">
        SELECT *
        FROM spring.order_history
        WHERE
        ord_hist_id = #{ord_hist_id};
    </select>

    <select id="selectList" resultType="OrderHistoryDto">
        SELECT *
        FROM spring.order_history
        WHERE
        ord_id=#{ord_id};
    </select>

    <select id="selectOne" resultType="OrderHistoryDto">
        SELECT *
        FROM spring.order_history
        WHERE code_name = "ORDERING" and ord_id = #{ord_id}
    </select>

    <select id="selectMaxByOrdId" resultType="OrderHistoryDto">
        SELECT oh.*
		FROM order_history oh
		JOIN (
		    SELECT MAX(ord_hist_id) AS ord_hist_id
		    FROM order_history
		    WHERE ord_id = #{ord_id}
		) max ON oh.ord_hist_id = max.ord_hist_id;
    </select>

    <select id="selectFinalOrderHistory" parameterType="map" resultType="OrderHistoryDto">
        select oh.ord_id, oh.tot_prod_name, oh.pay_way, oh.tot_pay_price, oh.ord_date, ct.column_sts
        from order_history oh
                 join code_table ct on ct.code_name = oh.code_name
                 join(
            select max(oh.ord_hist_id) ord_hist_id
            from order_history oh
            where mem_id = #{mem_id}
            group by ord_id
        ) max_oh on oh.ord_hist_id = max_oh.ord_hist_id
        where (ct.code_type = 0 or ct.code_type = 1 or ct.code_type = 2 or ct.code_type = 3)
          and oh.ord_date >= date_sub(now(), interval #{period} day)
        order by ord_date desc
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM spring.order_history WHERE ord_hist_id = #{ord_hist_id}
    </delete>

    <delete id="deleteList" parameterType="long">
        DELETE FROM spring.order_history WHERE ord_id = #{ord_id}
    </delete>

    <select id="selectAll" resultType="OrderHistoryDto">
        SELECT *
        FROM spring.order_history
        ORDER BY rg_date DESC, ord_id DESC
    </select>

    <delete id="deleteAll">
        DELETE FROM spring.order_history
    </delete>

    <select id="count" resultType="int">
        SELECT count(*) FROM spring.order_history
    </select>
</mapper>