<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment.repository.payDiscountMapper">
    <insert id="insert">
        INSERT INTO spring.pay_discount
        (ord_id, prod_disc, coupon_disc,coupon_id, point_used)
        VALUES
        (#{ord_id}, #{prod_disc}, #{coupon_disc}, #{coupon_id}, #{point_used})
    </insert>

<!--    resultType = OrderCheckoutDto로 해도 큰 상관은 없다. -->
    <select id="select" resultType="PaymentDiscountDto">
        SELECT *
        FROM spring.pay_discount
        WHERE
        ord_id=#{ord_id}
    </select>

    <delete id="delete">
        DELETE FROM spring.pay_discount WHERE ord_id = #{ord_id}
    </delete>

    <select id="selectAll" resultType="PaymentDiscountDto">
        SELECT *
        FROM spring.pay_discount
        ORDER BY rg_date DESC, ord_id DESC
    </select>

    <select id="count" resultType="int">
        SELECT count(*) FROM spring.pay_discount
    </select>
</mapper>