<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.repository.productReviewRepository">
    <!-- 후기 전체 조회 -->
    <select id="getReviewList" parameterType="ProductReviewDto" resultType="ProductReviewDto">
        SELECT M.mem_name, M.gd_name, P.*
        FROM member M, product_review P
        WHERE prod_id = #{prod_id}
          AND M.mem_id = P.mem_id
        ORDER BY review_id DESC
    </select>

    <!-- 후기 1개 조회 -->
    <select id="getReview" resultType="ProductReviewDto">
        SELECT *
        FROM product_review
        WHERE review_id = #{review_id}
    </select>

    <!-- 후기 입력 -->
    <insert id="insertReview" parameterType="ProductReviewDto">
        INSERT INTO product_review (review_id, ord_id, prod_id, mem_id, review_content,
                                ori_filename, sys_filename, review_date, `like`, point)
        VALUES (#{review_id}, #{ord_id}, #{prod_id}, #{mem_id}
               , #{review_content}, #{ori_filename}, #{sys_filename}, DATE_FORMAT(NOW(), '%Y-%m-%d'), #{like}, #{point})
    </insert>

    <!-- 적립금 -->
    <update id="updatePoint" parameterType="ProductReviewDto">
        UPDATE product_review
        SET point = #{point}
        WHERE mem_id = #{mem_id}
    </update>

    <!-- 후기 수정 -->
    <update id="updateReview" parameterType="ProductReviewDto">
        UPDATE product_review
        SET review_content = #{review_content},
            ori_filename = #{ori_filename}
        WHERE review_id = #{review_id}
    </update>

    <!-- 후기 삭제 -->
    <delete id="deleteReview" parameterType="ProductReviewDto">
        DELETE FROM product_review WHERE review_id = #{review_id}
    </delete>

    <!-- 후기 개수 -->
    <select id="getReviewCount" parameterType="ProductReviewDto" resultType="int">
        SELECT COUNT(review_id)
        FROM product_review
        WHERE prod_id = #{prod_id}
    </select>

</mapper>