<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Order -->
		<typeAlias alias="OrderDto" type="com.pofol.main.orders1.order.domain.OrderDto"/>
		<!-- Payment -->
		<!-- CodeTable -->
		<typeAlias alias="CodeTableDto" type="com.pofol.main.orders1.order.domain.CodeTableDto"/>
		<!-- paging -->
		<typeAlias alias="SearchOrderCondition" type="com.pofol.main.orders1.order.domain.SearchOrderCondition"/>
		<typeAlias alias="FaqDto" type="com.pofol.main.board.domain.FaqDto"/>
		<typeAlias alias="ProductDto" type="com.pofol.main.product.domain.ProductDto"/>
		<typeAlias alias="EventGroupDto" type="com.pofol.main.product.domain.EventGroupDto"/>
		<typeAlias alias="MemberDto" type="com.pofol.main.member.dto.MemberDto"/>
		<typeAlias alias="SampleMemberDto" type="com.pofol.main.orders.sample.memberSample.SampleMemberDto"/>
		<typeAlias alias="SampleProductDto" type="com.pofol.main.orders.sample.productSample.SampleProductDto"/>
		<typeAlias alias="SelectedItemsDto" type="com.pofol.main.orders.sample.cartDataSample.SelectedItemsDto"/>
		<typeAlias alias="SearchProductCondition" type="com.pofol.main.product.SearchProductCondition"/>
		<typeAlias alias="AddressDto" type="com.pofol.main.member.AddressDto"/>
	</typeAliases>
</configuration>