@charset "UTF-8";

/* Size */
.w14 {
    width: 14px;
}

.w24 {
    width: 24px;
}

.w28 {
    width: 28px;
}

.w30 {
    width: 30px;
}

.w35 {
    width: 35px;
}

.w40 {
    width: 40px;
}

.w45 {
    width: 45px;
}

.w50 {
    width: 50px;
}

.w55 {
    width: 55px;
}

.w60 {
    width: 60px;
}

.w65 {
    width: 65px;
}

.w67 {
    width: 67px;
}

.w70 {
    width: 70px;
}

.w75 {
    width: 75px;
}

.w77 {
    width: 77px;
}

.w80 {
    width: 80px;
}

.w85 {
    width: 85px;
}

.w90 {
    width: 90px;
}

.w92 {
    width: 92px;
}

.w95 {
    width: 95px;
}

.w97 {
    width: 97px;
}

.w100 {
    width: 100px;
}

.w102 {
    width: 102px;
}

.w105 {
    width: 105px;
}

.w110 {
    width: 110px;
}

.w120 {
    width: 120px;
}

.w130 {
    width: 130px;
}

.w140 {
    width: 140px;
}

.w150 {
    width: 150px;
}

.w160 {
    width: 160px;
}

.w170 {
    width: 170px;
}

.w180 {
    width: 180px;
}

.w190 {
    width: 190px;
}

.w195 {
    width: 195px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w235 {
    width: 235px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px;
}

.w260 {
    width: 260px;
}

.w280 {
    width: 280px;
}

.w290 {
    width: 290px;
}

.w310 {
    width: 310px;
}

.w350 {
    width: 350px;
}

.w360 {
    width: 360px;
}

.w380 {
    width: 380px;
}

.w911 {
    width: 911px;
}

:root [class*='duet-date-theme'] {
    --duet-color-primary: #D6DAE1;
    --duet-color-text: #1B1E26;
    --duet-color-text-active: #fff;
    --duet-color-placeholder: #666;
    --duet-color-button: #fff;
    --duet-color-surface: #fff;
    --duet-color-overlay: rgba(0, 0, 0, 0.8);
    --duet-font: "Noto Sans KR", "맑은 고딕", "malgun gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --duet-font-normal: 400;
    --duet-font-bold: 600;
    --duet-radius: 0px;
    --duet-z-index: 600;
}

body {
    font-size: 12px;
    font-family: "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", sans-serif;
    color: #1b1e26;
    background-color: #f4f5f8;
}

button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

input,
select,
textarea,
button {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

html:lang(ko) input,
html:lang(ko) select,
html:lang(ko) textarea,
html:lang(ko) button {
    font-size: 13px;
    letter-spacing: -0.5px;
}

.btnNormal,
.btnNormal span,
.btnCtrl,
.btnCtrl span,
.btnDate,
.btnDate span,
.btnGeneral,
.btnGeneral span,
.btnStrong,
.btnStrong span,
.btnSubmit,
.btnSubmit span,
.btnEm,
.btnEm span,
.btnSearch,
.btnSearch span,
.btnToggle {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 3px;
}

.container {
    min-height: 750px;
    min-width: 960px;
    padding: 24px 24px 100px;
    vertical-align: top;
    box-sizing: border-box;
}

.mTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 16px;
}

.optionArea {
    margin: 0 0 16px;
    clear: both;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.mOption table {
    line-height: 18px;
    background-color: #fff;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.mOption th,
.mOption td {
    height: 28px;
    padding: 8px;
    border: 1px solid #d9dadc;
    text-align: left;
}

.fSelect {
    display: inline;
    height: 28px;
    margin: 0;
    padding: 0 24px 0 8px;
    border-radius: 3px;
    border: 1px solid #d6dae1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff url(//img.echosting.cafe24.com/ec/v2/ico_select.png) no-repeat right 7px center;
}

.btnDate span {
    min-width: 45px;
    padding: 0 8px;
    border: 1px solid #aeb4c6;
    color: #1b1e26;
    font-size: 12px;
    line-height: 26px;
    background-color: #fff;
}

.btnDate:hover span,
.btnDate.selected span {
    border-color: #3971ff;
    z-index: 1;
    color: #3971ff;
}

html:lang(ko) .btnDate span {
    font-size: 13px;
}

.btnDate,
.btnDate span {
    height: 28px;
}

[class^="btn"],
[class^="btn"] span {
    cursor: pointer;
}

.duet-date__table .duet-date__table-header:first-child,
.duet-date__row .duet-date__cell:first-child .is-month {
    color: red;
}

.duet-date__table .duet-date__table-header:last-child,
.duet-date__row .duet-date__cell:last-child .is-month {
    color: blue;
}

:root [class*='duet-date-theme'] {
    --duet-color-primary: #D6DAE1;
    --duet-color-text: #1B1E26;
    --duet-color-text-active: #fff;
    --duet-color-placeholder: #666;
    --duet-color-button: #fff;
    --duet-color-surface: #fff;
    --duet-color-overlay: rgba(0, 0, 0, 0.8);
    --duet-font: "Noto Sans KR", "맑은 고딕", "malgun gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --duet-font-normal: 400;
    --duet-font-bold: 600;
    --duet-radius: 0px;
    --duet-z-index: 600;
}

.duet-date-picker-grid {
    display: inline-block;
    max-width: 500px;
}

.duet-date-picker {
    display: inline-block;
}

.duet-date {
    box-sizing: border-box;
    color: var(--duet-color-text);
    display: block;
    font-family: var(--duet-font);
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.duet-date-theme-ec-new .duet-date__input {
    display: inline-block;
    width: 94px;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    border: 1px solid #d6dae1;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
    color: #1b1e26;
    vertical-align: middle;
    box-shadow: none;
}

html:lang(ko) .duet-date-theme-ec-new .duet-date__input {
    font-size: 13px;
}

.duet-date-theme-ec-new .duet-date__toggle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 3px 5px;
    width: 20px;
    box-shadow: none;
}

input.fText {
    max-width: 100%;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #d6dae1;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 28px;
    outline: 0 none;
}

[class^="btn"],
[class^="btn"] span {
    cursor: pointer;
}

a.btnIcon,
button.btnIcon,
span.btnIcon {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    white-space: nowrap;
    background: url('//img.echosting.cafe24.com/ec/v2/ko_KR/sfix_icon_button2.png') 0 0 no-repeat;
    box-sizing: border-box;
}

.btnIcon.icoPlus {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #aeb4c6;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
}

.btnIcon span {
    display: block;
    visibility: hidden;
    height: 100%;
    font-size: 1px;
}

.btnIcon.icoPlus:before,
.btnNormal em.icoPlus:before,
.btnCtrl em.icoPlus:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
    background-color: #6b6b6b;
}

.btnIcon.icoPlus:after,
.btnNormal em.icoPlus:after,
.btnCtrl em.icoPlus:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
    background-color: #6b6b6b;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.mOptionToogle {
    position: relative;
    margin: 0 0 42px;
}

.mOptionToogle .ctrl {
    position: absolute;
    top: 5px;
    right: 0;
}

.mOptionToogle .ctrl span button {
    position: relative;
    height: 25px;
    padding: 0 20px 0 0;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
}

.mOptionToogle .ctrl span button:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 4px;
    width: 6px;
    height: 6px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #444b59;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mOptionToogle .ctrl span.selected button:after {
    top: 11px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.btnNormal,
.btnNormal span,
.btnCtrl,
.btnCtrl span,
.btnDate,
.btnDate span,
.btnGeneral,
.btnGeneral span,
.btnStrong,
.btnStrong span,
.btnSubmit,
.btnSubmit span,
.btnEm,
.btnEm span,
.btnSearch,
.btnSearch span,
.btnToggle {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 3px;
}

[class^="btn"],
[class^="btn"] span {
    cursor: pointer;
}

.btnSearch,
.btnSearch span {
    height: 28px;
}

.btnSearch span {
    padding: 0 8px;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 26px;
    color: #fff;
    background-color: #00C73C;
}

.btnSearch.save span,
.btnSearch.reset span {
    border: 1px solid #aeb4c6;
    color: #1b1e26;
    background-color: #fff;
}

.mButton {
    margin: 16px 0 0;
    text-align: right;
}

.mButton.gCenter {
    position: relative;
    text-align: center;
}

.mButton a {
    margin: 0 0 0 8px;
}

.mButton a:first-child {
    margin-left: 0;
}

.mButton .btnSearch,
.mButton .btnSearch span,
form>.mButton .btnSearch,
form>.mButton .btnSearch span,
.mButton .btnSearch,
.mButton .btnSearch span,
.optionWrap>.mButton .btnSearch,
.optionWrap>.mButton .btnSearch span {
    height: 36px;
}

.mButton .btnSearch span,
form>.mButton .btnSearch span,
.mButton .btnSearch span,
.optionWrap>.mButton .btnSearch span {
    min-width: 72px;
    font-size: 13px;
    line-height: 34px;
}

.btnSearch:hover span,
.btnSearch.selected span {
    background-color: #667084;
}

.btnSearch.save:hover span,
.btnSearch.save.selected span,
.btnSearch.reset:hover span,
.btnSearch.reset.selected span {
    background-color: #f4f9ff;
}

.tabCont {
    min-width: 1200px;
}

.mState {
    min-height: 46px;
    margin: 8px 0 -1px;
    padding: 8px;
    border: 1px solid #d9dadc;
    box-sizing: border-box;
    background-color: #fff;
}

.mState .gLeft {
    float: left;
}

.mState .total {
    float: left;
    margin: 6px 8px 0 0;
}

.mCtrl {
    min-height: 46px;
    padding: 8px;
    border: 1px solid #d9dadc;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.mCtrl.typeSetting {
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
    background-color: #fafafd;
}

.mCtrl.setting {
    padding-right: 33px;
}

.mCtrl .gLeft {
    float: left;
    text-align: left;
}

.mCtrl .gRight {
    float: right;
    text-align: right;
}

label {
    cursor: default;
}

label.eSelected {
    font-weight: bold;
}

.fChk {
    display: inline-block;
    width: 14px;
    height: 14px;
}

label .fChk {
    vertical-align: sub;
}

.fChk[type="checkbox"] {
    background-position: 0 0;
    accent-color: #00a833;
}

html:lang(ko) select {
    text-rendering: optimizeLegibility;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

.mCtrl.setting .gSetting {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 33px;
}

.mOpen {
    position: relative;
    display: inline-block;
}

.mCtrl.setting .gSetting .mOpen {
    display: block;
    width: 100%;
    height: 100%;
}

.mCtrl.setting .gSetting .btnSetting {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mCtrl.setting .gSetting .btnSetting span {
    position: relative;
    top: 9px;
    overflow: hidden;
    display: block;
    width: 18px;
    height: 27px;
    margin: 0 auto;
    text-indent: 150%;
    white-space: nowrap;
    background: url('//img.echosting.cafe24.com/suio/ko_KR/sfix_icon_button2.png') no-repeat -150px -500px;
}

.mOpen .open {
    display: none;
    position: absolute;
    z-index: 110;
    right: 0;
    border: 1px solid #d6dae1;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.mCtrl.setting .gSetting .open {
    left: auto;
    right: 100%;
    top: 8px;
    min-width: 200px;
    max-width: 300px;
    margin: 0 -1px 0 0;
}

strong {
    font-weight: bold;
}

.mCtrl.setting .gSetting .mOpen strong {
    display: block;
    padding: 16px 16px 0;
    text-align: left;
}

.mOpen .open .wrap {
    overflow: auto;
    text-align: left;
    max-height: 400px;
}

.mCtrl.setting .gSetting .wrap {
    height: 200px;
    padding: 0 16px;
}

.mOpen .open .wrap .default {
    padding: 0;
}

.mOpen .open .wrap .default li {
    padding: 0;
    margin: 0;
    background: none;
}

.mCtrl.setting .gSetting .wrap .default li {
    padding: 9px 0 0;
    white-space: nowrap;
}

.mOpen .open .footer {
    padding: 24px 16px 16px;
    text-align: center;
}

.btnCtrl span {
    padding: 0 8px;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 26px;
    color: #fff;
    font-weight: normal;
    background-color: #444b59;
}

.btnNormal span {
    padding: 0 8px;
    border: 1px solid #aeb4c6;
    font-size: 12px;
    line-height: 26px;
    color: #1b1e26;
    font-weight: normal;
    background-color: #fff;
}

.btnCtrl,
.btnCtrl span,
.btnNormal,
.btnNormal span {
    height: 28px;
}

.mOpen .open .footer .btnCtrl span {
    background-color: #3971ff;
}

.btnNormal,
.btnNormal span {
    height: 28px;
}

html:lang(ko) .btnCtrl span,
html:lang(ko) .btnNormal span {
    font-size: 13px;
}

.mCtrl:after {
    content: "";
    display: block;
    clear: both;
}

.mCtrl.typeHeader {
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
}

.mCtrl .gTop {
    text-align: left;
}

.btnCtrl:hover span {
    background-color: #667084;
}

.btnNormal:hover span {
    background-color: #f4f9ff;
}

.mBoard.gScroll {
    position: relative;
    overflow: auto;
    border-right: 1px solid #d9dadc;
    border-left: 1px solid #d9dadc;
    background-color: #fff;
}

.mBoard table {
    line-height: 1.5;
    background-color: #fff;
}

.mBoard table {
    border-top: 1px solid #d9dadc;
}

.mBoard.gScroll table {
    margin-left: -1px;
}

.mBoard.typeOrder table {
    border-top: 0;
}

.mBoard th,
.mBoard td {
    padding: 9px 9px 7px;
    vertical-align: top;
}

.mBoard th {
    font-weight: normal;
    background-color: #fafafb;
}

.mBoard tbody th {
    border: 1px solid #d9dadc;
    text-align: left;
}

.mBoard .empty td,
.mBoard p.empty,
.mBoard div.empty {
    margin-top: -1px;
    border: 1px solid #d9dadc;
    padding: 100px 0;
    text-align: center;
    background-color: #fff;
}
.mBoard tbody th[scope*='col'], .mBoard tbody td[scope*='col'] {
    text-align: center;
}
.mBoard.gScroll th,
.mBoard.gScroll td {
    border-right-width: 0;
}
.mBoard.typeOrder th,
.mBoard.typeOrder td {
    padding-left: 4px;
    padding-right: 4px;
}



html:lang(ko) .mBoard thead th,
html:lang(ko) .mBoard thead~tbody td,
html:lang(ko) .mBoard thead~tbody td a,
html:lang(ko) .mBoard thead~tfoot th,
html:lang(ko) .mBoard thead~tfoot td,
html:lang(ko) .mBoard.typeList tbody th,
html:lang(ko) .mBoard.typeList tbody td,
html:lang(ko) .mBoard.typeList tbody td a,
html:lang(ko) .mBoard .empty {
    color: #222;
    font-family: "Nanum Gothic", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", sans-serif;
}

.mBoard.typeOrder .thead tbody th {
    border: 1px solid #d9dadc;
    color: #1b1e26;
    text-align: center;
    vertical-align: middle;
}

.mBoard.typeOrder.gScroll .thead tbody th {
    border-right: 0;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

caption {
    display: none;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table input[type="checkbox"],
table .allChk[type="checkbox"],
table .rowChk[type="checkbox"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    accent-color: #00a833;
}

.mPaginate {
    margin: 16px 0 0;
    text-align: center;
}
.btnPrep{
    border-width: 1px;
    border-color: #949494;
    background-color: #fff;
}
.btnPrep:hover{
    background-color: #eafbfd;
}
.deliveryStatus{
    font-weight: bold;
}
tbody > tr {
    border-top: solid 0.5px #5b63761a;
    height: 40px;
}