<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.main.product.domain.EventGroupDto">

    <insert id="insert" parameterType="EventGroupDto">
        INSERT INTO event_group
        (evt_gp_id, evt_gp_name, evt_gp_dtl, evt_gp_std)
        VALUES (#{evt_gp_id}, #{evt_gp_name}, #{evt_gp_dtl}, #{evt_gp_std})
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM event_group
        WHERE evt_gp_id = #{evt_gp_id}
    </delete>

</mapper>