<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.main.product.repository.ProductListRepository">
<!--    상품 조회-->
    <select id="select" parameterType="long" resultType="ProductDto">
        SELECT p.prod_img_id, p.prod_name, p.prod_price, p.disc_rate, p.disc_price, p.short_desc, p.long_desc, p.rev_num, i.*
        FROM product p, product_info i
        WHERE p.prod_id = i.prod_id
          and p.prod_id = #{prod_id}
    </select>

<!--    상품 전체 리스트 정렬-->
    <select id="selectAll" resultType="ProductDto">
        SELECT prod_id, prod_img_id, prod_name, prod_price, disc_rate, disc_price, short_desc, rev_num
        FROM product
        WHERE disp_sts = 'Y'
    </select>

<!--    이벤트 상품끼리 리스트 정렬-->
    <select id="selectEvent" resultType="ProductDto">
        SELECT prod_id, prod_img_id, prod_name, prod_price, disc_rate, disc_price, short_desc, rev_num
        FROM product
        WHERE disp_sts = 'Y'
        and evt_gp_id = #{evt_gp_id}
    </select>

<!--    카테고리별 상품 리스트 정렬-->
    <select id="selectCategory" parameterType="map" resultType="ProductDto">
        SELECT prod_id, prod_img_id, prod_name, prod_price, disc_rate, disc_price, short_desc, rev_num
        FROM product
        WHERE disp_sts = 'Y' AND cat_code LIKE CONCAT(#{cat_code}, '%')
        <if test='type=="1"'>
            ORDER BY sel_str_date DESC, prod_id ASC
        </if>
        <if test='type=="2"'>
            ORDER BY disc_rate DESC, prod_id ASC
        </if>
        <if test='type=="3"'>
            ORDER BY disc_price ASC, prod_id ASC
        </if>
        <if test='type=="4"'>
            ORDER BY disc_price DESC, prod_id ASC
        </if>
        LIMIT #{skip}, #{pageSize}
    </select>

    <!--    카테고리별 상품 리스트 카운트-->
    <select id="selectCategoryCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE disp_sts = 'Y' AND cat_code LIKE CONCAT(#{cat_code}, '%')
    </select>

<!--    할인율이 높은 순으로 상품 리스트 정렬 (변경해야함)-->
    <select id="selectRateProduct">
        SELECT prod_id, prod_img_id, prod_name, prod_price, disc_rate, disc_price, short_desc, rev_num
        FROM product
        WHERE disp_sts = 'Y'
        ORDER BY disc_rate DESC
    </select>

<!--    상품명으로 검색 리스트 정렬-->
    <select id="searchSelectProduct" parameterType="SearchProductCondition" resultType="ProductDto">
        SELECT prod_id, prod_img_id, prod_name, prod_price, disc_rate, disc_price, short_desc, rev_num
        FROM product
        WHERE disp_sts = 'Y'
        AND (prod_name LIKE concat('%',#{keyword} ,'%'))
        <if test='type=="1"'>
            ORDER BY sel_str_date DESC, prod_id ASC
        </if>
        <if test='type=="2"'>
            ORDER BY disc_rate DESC, prod_id ASC
        </if>
        <if test='type=="3"'>
            ORDER BY disc_price ASC, prod_id ASC
        </if>
        <if test='type=="4"'>
            ORDER BY disc_price DESC, prod_id ASC
        </if>
        LIMIT #{skip}, #{pageSize}
    </select>

<!--    검색한 상품 리스트 카운트-->
    <select id="searchResultCount" parameterType="SearchProductCondition" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE disp_sts = 'Y'
        AND (prod_name LIKE concat('%',#{keyword} ,'%'))
    </select>

<!--    전체 상품 리스트 카운트-->
    <select id="count">
        SELECT COUNT(*) FROM product
    </select>



<!--    이벤트 그룹 이름 + 설명-->
    <select id="eventEx" parameterType="long" resultType="EventGroupDto">
        SELECT evt_gp_name, evt_gp_dtl
        FROM event_group
        WHERE evt_gp_id = #{evt_gp_id}
    </select>

</mapper>