<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ecoeats.productMapper">

    <!--    상품 조회-->
    <select id="selectProduct" parameterType="long" resultType="ProductDto">
        SELECT p.*, i.*
        FROM product p,
             product_info i
        WHERE p.prod_id = i.prod_id
          AND p.prod_id = #{prod_id}
    </select>

    <!--    전체 상품 조회-->
    <select id="selectAllProduct" parameterType="long" resultType="ProductDto">
        SELECT p.*, i.*
        FROM product p,
             product_info i
        WHERE p.prod_id = i.prod_id
        ORDER BY p.prod_id ASC
    </select>

    <!--    1개의 옵션 상품 조회-->
    <select id="selectOptionProduct" parameterType="string" resultType="OptionProductDto">
        select opt_prod_id, opt_prod_name, opt_price, opt_disc_price
        from option_product
        where opt_prod_id = #{opt_prod_id};
    </select>

    <!--    1개의 상품에 옵션 상품 리스트 조회-->
    <select id="selectAllOptionProduct" parameterType="long" resultType="OptionProductDto">
        SELECT *
        FROM option_product
        WHERE prod_id = #{prod_id}
    </select>


    <!-- 상품 등록 -->
    <insert id="insert" parameterType="ProductDto" useGeneratedKeys="true" keyProperty="prod_id">
        INSERT INTO product (evt_gp_id, prod_img_id, cat_code, prod_name, prod_price, disc_rate, sale_sts, prod_qty,
                             is_exch, is_opt, short_desc, long_desc, disp_sts, rg_num, md_num)
        VALUES (#{evt_gp_id}, #{prod_img_id}, #{cat_code}, #{prod_name}, #{prod_price}, #{disc_rate}, #{sale_sts},
                #{prod_qty}, #{is_exch}, #{is_opt}, #{short_desc}, #{long_desc}, #{disp_sts}, #{rg_num}, #{md_num})
    </insert>

    <!-- 상품 등록(상세 정보들) -->
    <insert id="insertInfo" parameterType="ProductDto" >
        INSERT INTO product_info (prod_id, prod_desc_id, brand, origin, dlvy_type, seller, pack_type, sales_unit, weight, exp_date, as_guide)
        VALUES (#{prod_id}, #{prod_desc_id}, #{brand}, #{origin}, #{dlvy_type}, #{seller}, #{pack_type}, #{sales_unit}, #{weight}, #{exp_date}, #{as_guide})
    </insert>

    <!-- product테이블 행 개수 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM product
    </select>

    <!-- product_image 테이블 행 개수-->
    <select id="countImage" resultType="int">
        SELECT COUNT(*)
        FROM product_image
    </select>

    <!-- option_product 테이블 행 개수-->
    <select id="countOption" resultType="int">
        SELECT COUNT(*)
        FROM option_product
    </select>

    <!-- 이미지 등록 -->
    <insert id="insertImage" parameterType="ProductImageDto" useGeneratedKeys="true" keyProperty="prod_id">
        INSERT INTO product_image (prod_img_id, prod_id, ori_file_name, ser_file_name, rg_num, md_num)
        VALUES (#{prod_img_id}, #{prod_id}, #{ori_file_name}, #{ser_file_name}, #{rg_num}, #{md_num})
    </insert>

    <!-- 옵션 insert-->
    <insert id="insertOption" parameterType="OptionProductDto" useGeneratedKeys="true" keyProperty="prod_id">
        INSERT INTO option_product (opt_prod_id, prod_id, opt_prod_name, opt_price, opt_disc_price, opt_prod_qty, opt_prod_sts, rg_num, md_num)
        VALUES (#{opt_prod_id}, #{prod_id}, #{opt_prod_name}, #{opt_price}, #{opt_disc_price}, #{opt_prod_qty}, #{opt_prod_sts}, #{rg_num}, #{md_num})
    </insert>

</mapper>