*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
div {
    display: block;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --swiper-theme-color: #007aff;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
.css-ugqv3j {
    background: rgb(244, 244, 244);
}
.css-1uom1od {
    width: 1050px;
    padding: 60px 0;
    margin: 0 auto;
}
.css-1icxyy0 {
    position: relative;
    width: 400px;
    padding: 30px;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    text-align: center;
}
.css-fnh15r {
    padding: 30px 0px 20px;
    text-align: center;
}
.css-ypnlzr {
    width: 50px;
    height: 50px;
}
img, legend {
    border: 0;
    vertical-align: top;
}
canvas, img, video {
    max-width: 100%;
}
.css-yb4g98 {
    padding-top: 24px;
    font-size: 18px;
    line-height: 26px;
}
.css-14is9qy {
    font-size: 20px;
}
.css-114oz6p {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.css-1va7zlz {
    border-radius: 6px;
    padding: 20px 20px 17px;
    text-align: center;
    background-color: rgb(250, 250, 250);
}
.css-1l8u1wr {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 19px;
    color: rgb(51, 51, 51);
}
.css-qnijoc {
    margin: 0px auto 15px;
    width: 90%;
    height: 1px;
    background-color: rgb(242, 242, 242);
}
.css-1hh4r05 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}
.css-1h6pllp {
    font-size: 13px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}
.css-ciygyc {
    font-size: 13px;
    font-weight: 600;
    color: rgb(102, 102, 102);
}
.css-1ugcep1 {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
}
svg:not(:root) {
    overflow: hidden;
}
.css-8qz8ia {
    padding-top: 20px;
}
.css-1feuezi {
    height: 69px;
    font-size: 14px;
    line-height: 19px;
    padding: 16px 20px;
    text-align: center;
    border-radius: 6px;
    background: rgb(248, 241, 255);
}
/*.css-152kj31 {*/
/*    padding-right: 4px;*/
/*    font-weight: 500;*/
/*    letter-spacing: -0.5px;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background: linear-gradient(170deg, rgb(82, 31, 239), rgb(228, 30, 235));*/
/*    -webkit-background-clip: text;*/
/*}*/
.css-il3y9x {
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}
.css-m2n2y {
    padding-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 128);
    opacity: 0.8;
}
.css-1feuezi + div {
    margin-top: 8px;
}
.css-1wa7vj6 {
    border-top: 1px solid rgb(244, 244, 244);
    margin-top: 32px;
    padding-top: 16px;
    text-align: left;
}
.css-1a1jcfo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}
.css-vmo0an {
    width: 100px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
.css-21ugym {
    text-align: right;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.css-hfgifi {
    padding-left: 2px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
}
.css-1a1jcfo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}
.css-vmo0an {
    width: 100px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
.css-13515y6 {
    min-width: 162px;
    text-align: right;
}
.css-r9z3y0 {
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #00922c;
}
.css-98lqc0 {
    text-align: right;
    color: #00922c;
    display: block;
    width: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.css-1mnvac {
    margin-top: 32px;
}
.css-phyjhi {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    min-height: 40px;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgb(244, 236, 255);
}
.css-1erf9v6 {
    text-align: center;
    margin: 6px 0px;
    word-break: keep-all;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.css-1erf9v6 span {
    font-weight: 500;
    color: #00922c;
}
.css-1pgxldh {
    text-align: center;
    margin: 6px 0px;
    word-break: keep-all;
    font-size: 11px;
    line-height: 12px;
    color: rgb(153, 153, 153);
}
.css-1dslxe3 {
    padding: 20px 0px;
    text-align: left;
}
ol, ul {
    list-style-type: none;
}
.css-dnq4jd {
    position: relative;
    padding-top: 4px;
    font-size: 14px;
    line-height: 19px;
    padding-left: 11px;
    color: rgb(153, 153, 153);
    text-align: left;
}
.css-dnq4jd::before {
    overflow: hidden;
    position: absolute;
    width: 3px;
    height: 3px;
    margin: 9px 8px 0px -10px;
    background: rgb(204, 204, 204);
    vertical-align: top;
    border-radius: 50%;
    content: "";
}
.css-o6ldsh {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
}
.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.css-6682oh {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    color: rgb(255, 255, 255);
    background-color: #00c73c;
    border: 0px none;
    border-radius: 3px;
}
.css-a0s0c2 button + button {
    margin-top: 10px;
}
.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}