.css-2b29tl {
    position: relative;
    min-width: 1050px;
}

.css-1jgbowa{
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
}
.css-1oynwoh{
    display: grid;
    grid-template-columns: 372px auto;
    width: 1050px;
    margin: 0px auto;
    gap: 4px;
}
.css-1nmq3i1{
    padding: 30px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}
.css-zjik7 {
    display: flex;
}
.welcome{
    min-width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 5px;
    border-radius: 100%;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border: 1px solid rgb(148, 146, 150);
    background-color: rgb(255, 255, 255);
    color: rgb(148, 146, 150);
}

.css-38n0u7 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 50%;
    min-height: 48px;
    margin-left: 20px;
}
.name{
    display: block;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-rlyyl8 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}
.css-i9bkc4 {
    width: 3px;
    height: 3px;
    margin: 0px 5px;
    border-radius: 100%;
    background-color: rgb(217, 217, 217);
}
.css-1rqh7gg {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 30px;
}
.css-1nwlk71:first-of-type {
    margin-top: -10px;
}
.css-1nwlk71 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.css-1nwlk71 ~ p {
    margin-top: 4px;
}
.css-1fid7vq {
    display: flex;
    font-size: 12px;
    line-height: 18px;
}
.css-3a5cil {
    width: 40px;
    height: 18px;
    margin-right: 8px;
    border-radius: 13px;
    font-size: 11px;
    letter-spacing: -0.3px;
    background-color: rgb(240, 63, 64);
    color: rgb(255, 255, 255);
    text-align: center;
}
.css-1kxzrwz {
    color: rgb(95, 0, 128);
}
.css-1nwlk7l:last-of-type + a {
    margin-top: 12px;
}
.css-1qcjshh {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 12px;
    border-radius: 6px;
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    color: rgb(51, 51, 51);
}
.css-1fid7vq > span:last-of-type {
    margin-left: 5px;
}
.css-10yg44e {
    font-weight: 400;
    color: rgb(51, 51, 51);
}


/* 적립금, 쿠폰, 나의 컬리 스타일 */
.css-1jemrvf {
    display: flex;
    column-gap: 4px;
}
.css-1lomzjv {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.css-1bm0yf4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
}
.css-157zkrj {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.css-14phxgn {
    width: 23px;
    height: 23px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAQAAAACj/OVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmAxYGNhJAM7wjAAAAd0lEQVRYw+3UsQ2AMAwAQQfRsESWiCmp2I+aJagYgZYBaGGItGYEIhQZIf3VVl5OYREAAP4oxRTrvdYUzGzh6EfHYFiss7Ve8pEFnZNpJkmSJEnT/ObGltzSrzl/KTly5PxzIjo5X8501sy1BTODyX657QcAgL8b8j9nkEwifVYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDMtMjJUMDY6NTQ6MTYrMDA6MDClJXo+AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAzLTIyVDA2OjU0OjE2KzAwOjAw1HjCggAAAABJRU5ErkJggg==) 50% 50% / cover no-repeat;
}
.css-1omzzwx {
    font-weight: 700;
    font-size: 20px;
    color: #00C73C;
    margin-top: 20px;
}
/* .css-mmvz9h {
    font-weight: 400;
} */



.css-1jemrvf {
    display: flex;
    column-gap: 4px;
}
.css-1lomzjv {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.css-13d66fq {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 30px;
}
.css-157zkrj {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.css-17cmttl {
    font-weight: 700;
    font-size: 20px;
    color: #00C73C;
}



.css-1khmcew {
    display: block;
    width: 1050px;
    overflow: hidden;
    margin: 20px auto 0px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}




.css-1th0ley {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
img, legend {
    border: 0;
    vertical-align: top;
}
canvas, img, video {
    max-width: 100%;
}


/* 마이컬리 */
.css-luwwab {
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-833hqy {
    width: 200px;
}
.css-1v4whg {
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}
.css-1x9bshx {
    border: 1px solid rgb(242, 242, 242);
}
/*.css-g4g0eu.active, .css-g4g0eu:hover {*/
/*    background-color: rgb(250, 250, 250);*/
/*    color: rgb(95, 0, 128);*/
/*    font-weight: 500;*/
/*}*/
.css-g4g0eu {
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 15px 13px 15px 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

svg:not(:root) {
    overflow: hidden;
}


/* 도움이 필요하신가요? */
.css-196gwz9 {
    width: 100%;
    height: 60px;
    padding: 0px 14px 0px 20px;
    margin-top: 36px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
.css-rmee6s {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}
.css-1sdidca {
    font-size: 14px;
    font-weight: 500;
}
.css-rnnx2x {
    font-size: 12px;
}


/*주문내역*/
.css-171zbec {
    width: 820px;
}
.css-j0lifa {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-fhxb3m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-1268zpe {
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
    margin: 0;
}
.css-a3vgo2 {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}
.css-wkgeho {
    width: 157px;
}
.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}
.css-eg1co4 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    height: 44px;
    border-color: rgb(221, 221, 221);
    border-radius: 0px;
}
.css-qiwgdb.css-qiwgdb.css-qiwgdb {
    padding-right: 32px;
}
.css-qiwgdb.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.css-wkgeho .MuiSelect-select {
    font-family: "Noto Sans";
}
.css-qiwgdb {
    appearance: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}
.jss1 .MuiSelect-iconOutlined {
    right: 10px;
}
.css-1636szt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}
.jss1 .MuiOutlinedInput-notchedOutline {
    border-color: #ddd !important;
}
.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}
.css-nnbavb {
    float: unset;
    padding: 0px;
    line-height: 11px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}


/*line*/
.css-1dmsa3j {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(51, 51, 51);
}

/*본문*/
.css-1c8nox {
    padding-top: 20px;
    position: relative;
    height: 100%;
}
.css-79rsko {
    height: 540px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-zigog8 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1w78rrf::before {
    display: block;
    margin: 0px auto 8px;
    width: 68px;
    height: 68px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjgiIGhlaWdodD0iNjgiIHZpZXdCb3g9IjAgMCA2OCA2OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyIDEwKSIgc3Ryb2tlPSIjRTJFMkUyIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj4KICAgICAgICA8cGF0aCBkPSJNMjEuNDQ4IDQ3SDIuODJBMi44MiAyLjgyIDAgMCAxIDAgNDQuMThWMi44MkEyLjgyIDIuODIgMCAwIDEgMi44MiAwaDMyLjM2QTIuODIgMi44MiAwIDAgMSAzOCAyLjgydjE5LjE2aDBNMTAgMTFoMThNMTAgMTloMThNMTAgMjdoMTEiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIzNCIgY3k9IjM3IiByPSIxMCIvPgogICAgICAgIDxwYXRoIGQ9Im00NyA1MC01LTUiLz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
    content: "";
}
.css-1w78rrf {
    margin: 8px 0px 24px;
    font-size: 16px;
    color: rgb(181, 181, 181);
    text-align: center;
}
.css-1roqgte {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.css-1roqgte > span {
    font-size: 14px;
}
.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
div {
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}






li {
    display: list-item;
    text-align: -webkit-match-parent;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
}

ol, ul {
    list-style-type: none;
    padding-left: 0px;
}


html{
    margin:0;
    padding:0;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body{
    margin:0;
    padding:0;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
a:-webkit-any-link {
    color:rgb(102, 102, 102);
    cursor: pointer;
    /* text-decoration: underline; */
}

*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
button {
    border-radius: 0;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*.css-g4g0eu:visited{*/
/*    color:rgb(102, 102, 102);*/
/*}*/
.css-g4g0eu:link{
    color:rgb(102, 102, 102);
}