#__next {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
}
div {
    display: block;
}
.u75ne34 {
    line-height: 1;
}
body, html {
    font-family: -apple-system,BlinkMacSystemFont,AppleSDGothicNeo,Apple SD Gothic Neo,Helvetica,Noto Sans KR,malgun gothic,맑은 고딕,sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    height: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}
main {
    display: block;
}
._149xcwa1 {
    justify-content: center;
}
._2wzkdc1 {
    display: flex;
}
.u75ne30 {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.t8y8263 {
    animation-name: t8y8262;
    opacity: 0;
}
.hm8a9i0 {
    animation-duration: .15s;
}
._1yn5z93 {
    animation-name: _1yn5z92;
    transform: translateY(100%);
}
.hm8a9i2 {
    animation-duration: .5s;
}
._11jqbprd {
    background-color: #fff;
}
._1cwllq51 {
    align-items: center;
}
.u75ne33 {
    display: block;
}
._1496k3l1 {
    top: 0;
}
.octrs51 {
    right: 0;
}
._1yyx8n00 {
    position: absolute;
}
._3dpgqx1 {
    left: 0;
}
._1qsm8w41 {
    bottom: 0;
}
._1f1neadg {
    border-color: #eee;
    height: 44px;
}
._11elurb1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
._1siu7xkj {
    width: 100%;
}
._1hh7yk87 {
    margin-top: 12px;
}
._1xjyd9v7 {
    margin-bottom: 12px;
}
._149xcwa1 {
    justify-content: center;
}
._1c1ajx20 {
    flex-direction: row;
}
.xch8s63 {
    font-weight: 600;
}
._7qafms6 {
    font-size: 16px;
    line-height: 20px;
}
._1shy0uyp {
    color: #333;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.xjsnc60 {
    line-height: 0;
}
._15ozwg2 {
    cursor: pointer;
}
.u75ne32 {
    background: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}
._1mkbjwk0, ._1mkbjwk1, ._1mkbjwk2, ._1mkbjwk3, ._1mkbjwk4, ._1mkbjwk5, ._1mkbjwk6, ._1mkbjwk7, ._1mkbjwk8, ._1mkbjwk9, ._1mkbjwka, ._1mkbjwkb, ._1mkbjwkc, ._1mkbjwkd, ._1mkbjwke, ._1mkbjwkf, ._1mkbjwkg, ._1mkbjwkh, ._1mkbjwki, ._1mkbjwkj, ._1mkbjwkk, ._1mkbjwkl, ._1mkbjwkm, ._1mkbjwkn, ._1mkbjwko {
    display: flex;
}
._88hjf31 {
    flex-grow: 1;
}
._1c1ajx22 {
    flex-direction: column;
}
._11jqbprd {
    background-color: #fff;
}
._1f0a74dd {
    padding-top: 24px;
}
._1hs5a5pc {
    padding-right: 20px;
}
.j7e93oc {
    padding-left: 20px;
}
._2rj8kkd {
    padding-bottom: 24px;
}
._7qafms2 {
    font-size: 12px;
    line-height: 18px;
}
._1shy0uyn {
    color: #666;
}
._1c1ajx20._1mkbjwk3>:not(style)+:not(style) {
    margin-left: 4px;
}
._1c1ajx22._1mkbjwk4>:not(style)+:not(style) {
    margin-top: 6px;
}
._149xcwa1 {
    justify-content: center;
}
._7qafms9 {
    font-size: 24px;
    line-height: 30px;
}
._1c1ajx20._1mkbjwk2>:not(style)+:not(style) {
    margin-left: 2px;
}
._7qafms6 {
    font-size: 16px;
    line-height: 20px;
}
._1c1ajx22._1mkbjwkd>:not(style)+:not(style) {
    margin-top: 24px;
}
._149xcwa3 {
    justify-content: space-between;
}
._7qafms4 {
    font-size: 14px;
    line-height: 20px;
}
._1c1ajx22._1mkbjwk1>:not(style)+:not(style) {
    margin-top: 0;
}
._1f0a74dc {
    padding-top: 20px;
}
._1f0a74d6 {
    padding-top: 10px;
}
._2rj8kk6 {
    padding-bottom: 10px;
}
/* 전체일때 */
._1shy0uy0 {
    color: #5f0080;
}
/* 전체 나머지 */
._1shy0uyn {
    color: #666;
}
._1c1ajx20._1mkbjwk4>:not(style)+:not(style) {
    margin-left: 6px;
}
.xch8s61 {
    font-weight: 400;
}
.umo8vf1 {
    border-width: 1px;
    border-style: solid;
}
.j7e93od {
    padding-left: 24px;
}
.xch8s62 {
    font-weight: 500;
}
._7qafms5 {
    font-size: 15px;
    line-height: 20px;
}
._1yyx8n02 {
    position: relative;
}
._2wzkdc3 {
    display: inline-block;
}
._1f0a74d8 {
    padding-top: 14px;
}
.j7e93oa {
    padding-left: 16px;
}
._2rj8kk8 {
    padding-bottom: 14px;
}
._1492m9g7 {
    animation-name: _1492m9g6;
    transform: scaleY(0);
    transform-origin: top;
}
._1f1nead9 {
    border-color: #f4f4f4;
}
._1f0a74da {
    padding-top: 16px;
}
._2rj8kk5 {
    padding-bottom: 8px;
}
.xch8s62 {
    font-weight: 500;
}
._1f0a74d7 {
    padding-top: 12px;
}
._1cwllq50 {
    align-items: flex-start;
}
._1j5ftz50 {
    flex-shrink: 0;
}
.gftunfb {
    padding: 18px;
}
._2wzkdc0 {
    display: block;
}
._1e4qggb1 {
    border-radius: 9999px;
}
/* 적립그림 백그라운드 컬러 */
._11jqbpr18 {
    background-color: #efe5f2;
}
._1c1ajx20._1mkbjwk7>:not(style)+:not(style) {
    margin-left: 12px;
}
._1c1ajx20._1mkbjwkc>:not(style)+:not(style) {
    margin-left: 20px;
}
._1j5ftz50 {
    flex-shrink: 0;
}
._1cwllq52 {
    align-items: flex-end;
}
._1shy0uy0 {
    color: #5f0080;
}
._1c1ajx22._1mkbjwk3>:not(style)+:not(style) {
    margin-top: 4px;
}
._7qafms2 {
    font-size: 12px;
    line-height: 18px;
}
._1f1nead14 {
    border-color: transparent;
}
._11elurb1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.q1m3k72 {
    z-index: 5;
}
@media
body {(min-width: 1280px)
    background-color: rgba(0,0,0,.4);
}