body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}
body, html {
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}
div {
    display: block;
}
.css-y8vf74 {
    padding: 30px;
    letter-spacing: -0.5px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.css-3ljxig {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.css-1holwxw {
    padding-top: 24px;
}
.css-1holwxw > div {
    padding-bottom: 24px;
}
.css-1n57dna {
    padding-bottom: 12px;
}
.css-1holwxw > div > label {
    padding-top: 0px;
    font-size: 14px;
}
.css-c3g9of {
    display: inline-block;
    padding: 8px 0px 11px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgb(51, 51, 51);
}
.css-1holwxw > div {
    padding-bottom: 24px;
}
.css-s480k4 {
    padding-bottom: 12px;
}
.css-1holwxw > div > label {
    padding-top: 0px;
    font-size: 14px;
}
.css-s480k4 label {
    font-size: 14px;
}
.css-1holwxw > div:last-of-type {
    padding-bottom: 0px;
}
.css-1holwxw > div > label {
    padding-top: 0px;
    font-size: 14px;
}
label {
    cursor: default;
}
.css-t7kbxx {
    position: relative;
    height: 44px;
}
.css-s480k4 input {
    font-size: 14px;
}
.css-1quw3ub {
    width: 100%;
    height: 44px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.css-y8vf74 {
    padding: 30px;
    letter-spacing: -0.5px;
}
.css-1y14kop > label {
    padding: 20px 0px;
}
.css-1xkjo8k {
    padding: 14px 0px 9px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.css-agvwxo {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.css-79hxr7 {
    margin-right: 12px;
}
.css-79hxr7 svg {
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
.css-10voksq {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #00C73C;
    border: 0px none;
}
.css-10voksq > span {
    font-size: 14px;
    font-weight: 500;
}
.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.css-1y14kop button + button {
    margin-top: 12px;
}
.css-d85pyu {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}
.css-d85pyu > span {
    font-size: 14px;
    font-weight: 500;
}
.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}