<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.main.member.delNotesMapper">
    <insert id="insert_delNotes" parameterType="DelNotesDto">
        INSERT INTO `del_notes` (
            `mem_id`, `name`, `number`,`place`, `enterway`,`msg` ,`rg_num`, `md_num`
        ) VALUES (
             #{mem_id}, #{name}, #{number}, #{place}, #{enterway},#{msg} ,#{rg_num}, #{md_num}
                 );
    </insert>

    <update id="update_delNotes" parameterType="DelNotesDto">
        UPDATE `del_notes`
        SET
            `name` = #{name},
            `number` = #{number},
            `place` = #{place},
            `enterway` = #{enterway},
            `msg` = #{msg}
        WHERE
            `mem_id` = #{mem_id};

    </update>

    <select id="select_delNotes" parameterType="String" resultType="DelNotesDto">
        SELECT `mem_id`,`name`,`number` ,`place` ,`enterway` ,`msg`
        FROM `del_notes`
        WHERE `mem_id` = #{mem_id};
    </select>

</mapper>