<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.main.member.pointMapper">
    <insert id="insert_point" parameterType="PointDto">
        INSERT INTO point
        (price, status, reason, his_end_date)
        VALUES
            (#{price}, #{status}, #{reason}, #{his_end_date})
    </insert>

    <select id="selectAll_point" resultType="PointDto">
        SELECT * FROM point WHERE mem_id = #{mem_id}
    </select>

    <select id="select_point">
        SELECT * FROM point WHERE point_id = #{point_id}
    </select>

    <select id="sum_point" resultType="int">
        SELECT SUM(price) FROM point WHERE mem_id = #{mem_id}
    </select>

    <select id="available_point" resultType="int">
        SELECT SUM(price) FROM point WHERE mem_id = #{mem_id} AND status = "적립"
    </select>

    <select id="preExtinct_point" resultType="int">
        SELECT SUM(price) FROM point WHERE mem_id = #{mem_id} AND his_end_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW()
    </select>

    <update id="update_point">
        UPDATE point
        SET price = #{price}, status = #{status}, reason = #{reason}, his_end_date = #{his_end_date}
        WHERE point_id = #{point_id}
    </update>

    <select id="count_point" resultType="int">
        SELECT count(*) FROM point WHERE mem_id = #{mem_id}
    </select>
</mapper>
