<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.repository.NoticeRepository">
    <select id="getNoticeList" parameterType="NoticeDto" resultType="NoticeDto">
        SELECT *
        FROM (SELECT ROW_NUMBER() OVER (ORDER BY notice_id) AS R_NUM, B.*
              FROM (SELECT * FROM notice) B
             ) C
        ORDER BY R_NUM DESC
    </select>

    <select id="getNotice" parameterType="NoticeDto" resultType="NoticeDto">
        SELECT *
        FROM notice WHERE notice_id = #{notice_id}
    </select>

    <insert id="insertNotice" parameterType="NoticeDto">
        INSERT INTO notice (notice_id,notice_title,notice_con,notice_date)
        VALUES (#{notice_id}, #{notice_title},#{notice_con},DATE_FORMAT(NOW(), '%Y-%m-%d'))
    </insert>

    <update id="updateNotice" parameterType="NoticeDto">
        UPDATE notice
        SET notice_title = #{notice_title},
            notice_con = #{notice_con}
        WHERE notice_id = #{notice_id}
    </update>

    <delete id="deleteNotice" parameterType="NoticeDto">
        DELETE FROM notice WHERE notice_id = #{notice_id}

        <!-- 게시물이 삭제되면 그 다음 게시물들이 다시금 새로 정렬되어야 함 -->
    </delete>

    <select id="count" parameterType="NoticeDto" resultType="int">
        SELECT count(*) FROM notice
    </select>

    <sql id="selectFromBoard">
        SELECT notice_id, notice_title, notice_con, notice_date
        FROM notice
    </sql>

    <select id="selectPage" parameterType="map" resultType="NoticeDto">
        <include refid="selectFromBoard"/>
        ORDER BY notice_date DESC, notice_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchSelectPage" parameterType="SearchBoardCondition" resultType="NoticeDto">
        SELECT notice_id, notice_title, notice_con, notice_date
        FROM notice
        WHERE TRUE
          AND notice_title LIKE concat('%', #{keyword}, '%')
        ORDER BY notice_date DESC, notice_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchBoardCondition" resultType="int">
        SELECT count(*)
        FROM notice
        WHERE TRUE
          AND notice_title LIKE concat('%', #{keyword}, '%')
    </select>


</mapper>