<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.repository.MyQnaRepository">
    <!-- 상품문의 조회 -->
    <select id="getMyQna" parameterType="MemberDto" resultType="MyQnaDto">
        SELECT *
        FROM product_qna
        WHERE mem_id = #{mem_id}
    </select>
</mapper>