<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.repository.ProQnaRepository">
    <!-- 문의 전체 조회 -->
    <select id="getQnaList" parameterType="ProQnaDto" resultType="ProQnaDto">
        SELECT * FROM product_qna
        WHERE prod_id = #{prod_id}
        ORDER BY qna_id DESC
    </select>

    <!-- 문의 상세 조회 -->
    <select id="getQna" resultType="ProQnaDto">
        SELECT P.prod_name , Q.*
        FROM product_qna Q , product P
        WHERE P.prod_id = Q.prod_id
          and q.qna_id = #{qna_id}
    </select>

    <!-- 문의 입력 -->
    <insert id="insertQna" parameterType="ProQnaDto">
        INSERT INTO product_qna (qna_id, prod_id, mem_id,
                             qna_title, qna_con, qna_date, qna_status, qna_secret)
        VALUES(#{qna_id}, #{prod_id}, #{mem_id},
               #{qna_title}, #{qna_con}, current_timestamp, '답변대기중', #{qna_secret})
    </insert>

    <!-- 문의 수정 -->
    <update id="updateQna" parameterType="ProQnaDto">
        UPDATE product_qna
        SET qna_title = #{qna_title},
            qna_con = #{qna_con}
        WHERE qna_id = #{qna_id}
    </update>

    <!-- 문의 삭제 -->
    <delete id="deleteQna" parameterType="ProQnaDto">
        DELETE FROM product_qna WHERE qna_id = #{qna_id}
    </delete>
</mapper>