.css-17cdx60 {
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
}
div {
    display: block;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body {
    margin: 0;
    user-select: none;
    background-color: #fff;
}
:root {
    --swiper-theme-color: #007aff;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
html {
    touch-action: manipulation;
}
html {
    line-height: 1.15;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
button {
    border-radius: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.css-1i60c0e {
    width: 1050px;
    margin: 0px auto;
}
.css-j6zuv6 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}
.css-4iyald {
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin: 0px;
    text-align: left;
}
.css-9jqcug {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}
.css-1uz1ro8 {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}
.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
.css-ho1qnd {
    display: flex;
    flex-direction: row;
}
.css-hupzfj {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
}
.css-1lxmeik {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}
.css-nyq565 {
    display: block;
    width: 140px;
    height: 40px;
    margin-bottom: 16px;
    margin-right: 16px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
}
.css-vtjvf {
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit !important;
}
.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
.css-17hse91 {
    display: flex;
    width: 100%;
    padding-bottom: 29px;
}
ol, ul {
    list-style-type: none;
}
.css-slkv2p:first-of-type {
    margin-left: 0px;
}
.css-slkv2p {
    margin-left: 14px;
}
.css-bz7mfs {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}
.css-1ekjygq {
    padding-left: 4px;
}
.css-1tby8gd {
    margin-left: 3px;
    color: #00c73c !important;
}
.css-zjik7 {
    display: flex;
}
.css-9ipg3 {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.css-81eeg3 {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
}
.css-12t5wjq {
    display: flex;
    text-align: left;
}
.css-1262i6n {
    width: 34px;
    margin-right: 10px;
}
.css-bft4sh {
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
    word-break: break-word;
}
.css-175n8cp {
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}
.css-1vhhy2d {
    display: block;
    padding-top: 7px;
    font-style: normal;
}
footer {
    font-weight: normal;
    text-align: left;
}
canvas, img, video {
    max-width: 100%;
}