* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
font-weight: bold;
  font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

#wrap {
  text-align: center;
}

#wrap-center {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

#top {
  display: inline-block;
  background-color: #ffffff;
  width: 1050px;
  height: 156px;
}
#top > #header {
  position: relative;;
}
#top > #header > #homeInfo {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  display: flex;
  box-align: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: -0.3px;
}
#top > #header > #homeInfo > .stick {
  width: 1px;
  height: 13px;
  margin: 0px 12px;
  background-color: rgb(217, 217, 217);
}
#top > #header > #homeInfo > a {
  font-weight: bold;
  cursor: pointer;
}
#top > #header > #homeInfo > a:nth-of-type(1) {
  color: #00c73c;
  /*padding: 10px;*/
}
#top > #header > #homeInfo span {
  width: 8px;
  height: 5px;
  background-image: url(/resources/icons/ico_down_16x10.webp);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
}
#top > #header > #homeInfo > .menu {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  width: 130px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}
#top > #header > #homeInfo > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  width: 65px;
  height: 35px;
}
#top > #header > #homeInfo > div:nth-of-type(3):hover + .menu {
  display: block;
}
#top > #header > #homeInfo > .menu:hover {
  display: block;
}
#top > #header > #homeInfo > .menu > div {
  display: block;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  font-weight: normal;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; 
}

#search {
  padding-top: 36px;
  width: 1050px;
  height: 100px;
}
#search > #search-bar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 63px;
}
#search > #search-bar > a {
  font-weight: bold;
  color: #00c73c;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  cursor: pointer;
  border: none;
}
#search > #search-bar > a:nth-of-type(1) {
  margin-left: 20px;
}
/*#search > #search-bar > a:nth-of-type(1)::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 1px;*/
/*  height: 14px;*/
/*  margin-top: 5px;*/
/*  margin-left: 11px;*/
/*  background-color: rgb(226, 226, 226);*/
/*}*/
#search > #search-bar > a:nth-of-type(2) {
  /* color: rgb(181, 181, 181); */
  cursor: pointer;
  position: relative;
  margin-left: 22px;
  color: #b5b5b5;
}
#search > #search-bar > a:nth-of-type(2):hover {
  color:  #00c73c;
}
#search > #search-bar > a:nth-of-type(2)::after {
  content: "";
  position: absolute;
  display: block;
  background: url(/resources/icons/kurly_new.svg) 0px 0px no-repeat;
  width: 10px;
  height: 10px;
  top: 3px;
  right: -13px;
}
 #search-center {
  display: flex;
  margin-left: 55px;
  width: 400px;
  height: 48px;
  padding-left: 14px;
  border: 1px solid #00c73c;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}
#search-input {
  flex: 1;
  font-weight: bold;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.33px;
}
#search-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
  bottom: 3px;
  border: none;
  cursor: pointer;
  background: url(/resources/icons/kurly_search.svg) 0px 0px no-repeat;
}
#search > #search-bar > #search-right > button{
  width: 36px;
  height: 36px;
  top : 15px;
  position: absolute;
  cursor: pointer;
  border: none;
}
#search > #search-bar > #search-right > button:nth-of-type(3) {
  background: url(/resources/icons/kurly_cart.svg) 50% 50% no-repeat;
  right: 0;
}
#search > #search-bar > #search-right > button:nth-of-type(3):hover {
  background: url(/resources/icons/kurly_cart_green.svg) 50% 50% no-repeat;
}
#search > #search-bar > #search-right > button:nth-of-type(2) {
  background: url(/resources/icons/kurly_heart.svg) 50% 50% no-repeat;
  right: 58px;
}
#search > #search-bar > #search-right > button:nth-of-type(2):hover {
  background: url(/resources/icons/kurly_heart_green.svg) 50% 50% no-repeat;
}
#search > #search-bar > #search-right > button:nth-of-type(1) {
  background: url(/resources/icons/kurly_adressAdd.svg) 50% 50% no-repeat;
  right: 116px;
}
#search > #search-bar > #search-right > button:nth-of-type(1):hover {
  background: url(/resources/icons/kurly_adressAdd_green.svg) 50% 50% no-repeat;
}

#nev {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 56px;
}
#nev > #category {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
#nev > #category > span:nth-of-type(1) {
  width: 16px;
  height: 14px;
  margin-right: 14px;
  background: url(/resources/icons/kurly_hamburger.svg) 0px 0px / 16px 14px no-repeat;
}
#nev > #category:hover > span:nth-of-type(1) {
  background: url(/resources/icons/kurly_hamburger_green.svg) 0px 0px / 16px 14px no-repeat;
}
#nev > #category > span:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: rgb(51, 51, 51);
}
#nev > #category:hover > span:nth-of-type(2) {
  color: #00c73c;
}
#nev > #meun {
  margin-left: 30px;
}
#nev > #meun > ul {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  justify-content: center;
  padding-top: 18px;
}
#nev > #meun > ul > li {
  width: 150px;
}
#nev > #meun > ul > li > span:hover {
  cursor: pointer;
  color: #00c73c;
  text-decoration: underline;
}
#nev > #nev-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nev > #nev-right > div {
  height: 32px;
  padding: 6px 16px;
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.32px;
  cursor: pointer;
}
#nev > #nev-right > div > span:nth-of-type(1) {
  color: #00c73c;
}

#search > #search-bar > #search-right > #tooltip {
  display: none;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(13px, 36px);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#wrap-center {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

/*드롭 다운 카테고리 (수정 필요)*/
nav {
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/*.dropdown:hover .dropdown-content {*/
/*  display: block;*/
/*}*/
#category:hover .dropdown-content {
   display: block;
 }
/*드롭다운 css 끝*/


.mem_name + .css-1ho29iy {
  position: absolute;
  display: none;
  right: 49px;
  top: 35px;
  width: 130px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

.mem_name:hover + .css-1ho29iy,
.mem_name + .css-1ho29iy:hover {
  display: block;
}
.mem_name + .css-1ho29iy > div{
  display: block;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  font-weight: normal;
}