@charset "UTF-8";
#wrap {
    text-align: center;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
img, legend {
    border: 0;
    vertical-align: top;
}
canvas, img, video {
    max-width: 100%;
}
#top {
    display: inline-block;
    background-color: #ffffff;
    width: 1050px;
    height: 156px;
}
#top > #header {
    position: relative;;
}
#top > #header > #homeInfo {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    display: flex;
    box-align: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: -0.3px;
}
#top > #header > #homeInfo > .stick {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
#top > #header > #homeInfo > a {
    font-weight: bold;
    cursor: pointer;
}
#top > #header > #homeInfo > a:nth-of-type(1) {
    color: #00c73c;
    padding: 10px 0;
}
#top > #header > #homeInfo span {
    width: 8px;
    height: 5px;
    background-image: url(/resources/icons/ico_down_16x10.webp);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
#top > #header > #homeInfo > .menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 35px;
    width: 130px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
#top > #header > #homeInfo > div:nth-of-type(3) {
    display: flex;
    align-items: center;
    width: 65px;
    height: 35px;
}
#top > #header > #homeInfo > div:nth-of-type(3):hover + .menu {
    display: block;
}
#top > #header > #homeInfo > .menu:hover {
    display: block;
}
#top > #header > #homeInfo > .menu > div {
    display: block;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
#search {
    padding-top: 36px;
    width: 1050px;
    height: 100px;
}
#search > #search-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
}
#search > #search-bar > a {
    font-weight: bold;
    color: #00c73c;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
    border: none;
}
#search > #search-bar > a:nth-of-type(1) {
    margin-left: 20px;
}
/*#search > #search-bar > a:nth-of-type(1)::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 14px;*/
/*    margin-top: 5px;*/
/*    margin-left: 11px;*/
/*    background-color: rgb(226, 226, 226);*/
/*}*/
#search > #search-bar > a:nth-of-type(2) {
    /* color: rgb(181, 181, 181); */
    cursor: pointer;
    position: relative;
    margin-left: 22px;
    color: #b5b5b5;
}
#search > #search-bar > a:nth-of-type(2):hover {
    color: #00c73c;
}
#search > #search-bar > a:nth-of-type(2)::after {
    content: "";
    position: absolute;
    display: block;
    background: url(/resources/icons/kurly_new.svg) 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    top: 3px;
    right: -13px;
}
#search-center {
    display: flex;
    margin-left: 55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid #00c73c;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}
#search-input {
    flex: 1;
    font-weight: bold;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}
#search-button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    border: none;
    cursor: pointer;
    /*background: url(/resources/icons/kurly_search.svg) 0px 0px no-repeat;*/
    background: url(/resources/icons/eco_green_search.svg) 0px 0px no-repeat;
    background-size: 22px;
    background-position: 8px 5px;
}
#search > #search-bar > #search-right > button{
    width: 36px;
    height: 36px;
    top : 15px;
    position: absolute;
    cursor: pointer;
    border: none;
}
#search > #search-bar > #search-right > button:nth-of-type(3) {
    background: url(/resources/icons/kurly_cart.svg) 50% 50% no-repeat;
    right: 0;
}
#search > #search-bar > #search-right > button:nth-of-type(3):hover {
    background: url(/resources/icons/kurly_cart_green.svg) 50% 50% no-repeat;
}
#search > #search-bar > #search-right > button:nth-of-type(2) {
    background: url(/resources/icons/kurly_heart.svg) 50% 50% no-repeat;
    right: 58px;
}
#search > #search-bar > #search-right > button:nth-of-type(2):hover {
    background: url(/resources/icons/kurly_heart_green.svg) 50% 50% no-repeat;
}
#search > #search-bar > #search-right > button:nth-of-type(1) {
    background: url(/resources/icons/kurly_adressAdd.svg) 50% 50% no-repeat;
    right: 116px;
}
#search > #search-bar > #search-right > button:nth-of-type(1):hover {
    background: url(/resources/icons/kurly_adressAdd_green.svg) 50% 50% no-repeat;
}
#search > #search-bar > #search-right > #tooltip{
    display: none;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(13px, 36px);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
#search > #search-bar > #search-right > #tooltip > div{
    opacity: 1;
    transition: opacity 1ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#search > #search-bar > #search-right > #tooltip > p{
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 24px;
    letter-spacing: 0.32px;
}
#search > #search-bar > #search-right > #tooltip button:nth-of-type(1) {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 36px;
    border-radius: 3px;
    color: #00c73c;
    background-color: rgb(255, 255, 255);
    border: 1px solid #00c73c;
}
#search > #search-bar > #search-right > #tooltip button:nth-of-type(2) {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 36px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #00c73c;
    border: 0px none;
}
#nev {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
}
#nev > #category {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
#nev > #category > span:nth-of-type(1) {
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(/resources/icons/kurly_hamburger.svg) 0px 0px / 16px 14px no-repeat;
}
#nev > #category:hover > span:nth-of-type(1) {
    background: url(/resources/icons/kurly_hamburger_green.svg) 0px 0px / 16px 14px no-repeat;
}
#nev > #category > span:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
#nev > #category:hover > span:nth-of-type(2) {
    color: #00c73c;
}
#nev > #meun {
    margin-left: 30px;
}
#nev > #meun > ul {
    margin-top: 20px;
    display: flex;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
}
#nev > #meun > ul > li {
    width: 150px;
}
#nev > #meun > ul > li > span:hover {
    cursor: pointer;
    color: #00c73c;
    text-decoration: underline;
}
#nev > #nev-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nev > #nev-right > div {
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}
#nev > #nev-right > div > span:nth-of-type(1) {
    color: #00c73c;
}
main > div {
    position: relative;
    max-width: 1900px;
    width: 100%;
    height: 370px;
    margin: 0px auto 40px;
}
main .swiper {
    overflow: hidden;
}
main .swiper > .swiper-wrapper {
    display: flex;
    animation: slide 15s linear infinite;
}
main .swiper > .swiper-wrapper > .swiper-slide {
    position: relative;
    flex: 0 0 100%; /* Set the slide width to match the container */
}
main .swiper > .swiper-wrapper > .swiper-slide img{
    max-width: none;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1900px);
    }
    45% {
        transform: translateX(-1900px);
    }
    50% {
        transform: translateX(-3800px);
    }
    70% {
        transform: translateX(-3800px);
    }
    75% {
        transform: translateX(-5700px);
    }
    95% {
        transform: translateX(-5700px);
    }
    100% {
        transform: translateX(0);
    }
}
main > div > button {
    position: absolute;
    top: 0px;
    bottom: 0px;

    z-index: 10;
    width: 52px;
    height: 52px;
    transition: all 0.5s ease 0s;
    opacity: 0;
    background: url(/resources/icons/arrow_btn.svg) 50% 50% no-repeat;

}
main > div > button:nth-of-type(1) {
    right: 50%;
    margin: auto 590px auto 0px;
    transform: rotate(180deg);
}
main > div > button:nth-of-type(2) {
    left: 50%;
    margin: auto 0px auto 590px;
    transform: rotate(0deg);
}
main > div > #ad-page {
    position: relative;
    width: 1050px;
    margin: 0px auto;

}
main > div > #ad-page > div{
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 23px;
    right: 109px;
    bottom: 20px;
    line-height: 23px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 12px;
}
#main-01 {
    width: 1050px;
    margin: 0px auto;
    padding: 40px 0px;
    height: auto;
}
.SectionTitle {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SectionTitle > a {
    position: relative;
    display: flex;
    min-height: 48px;
    padding: 8px 0px 8px 8px;
    cursor: pointer;
    text-decoration: none;
}
.SectionTitle > a > span:nth-of-type(1) {
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}
.SectionTitle > a > span:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 9px;
    width: 32px;
    height: 32px;
    display: flex;
}
.SectionTitle > p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-top: 2px;
    cursor: default;
}
.SectionContent {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}
.content {
    width: 249px;
    margin-right: 18px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}
.content > a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    display: block;
    color: rgb(51, 51, 51);
    cursor: pointer;
    width: 249px;
}
.image-container {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    height: 320px;
}
.image-container > span {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.image-container > span > img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.image-container > div {
    position: absolute;
    left: 8px;
    top: 8px;
    opacity: 0.9;
    border-radius: 4px;
    background-color: #00c73c;

    display: flex;
    align-items: center;
    padding: 0px 8px;
    height: 32px;
}
.image-container > div > span {
    font-size: 14px;
    line-height: 1.43px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.content > a > div:nth-of-type(2) > button {
    overflow: visible;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    margin-top: 6px;
    padding-bottom: 1px;
    font-size: 16px;
    line-height: 29px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}
.content > a > div:nth-of-type(2) > button > svg{
    width: 22px;
    height: 22px;
    margin: 1px 4px 0px 0px;
}
.product-info {
    position: relative;
    padding: 8px 10px 0px 0px;
}
.product-info > .product-name {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
}
.product-info > .content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-info > .content-row > .product-price {
    display: flex;
    flex-direction: column;
}
.product-info > .content-row > .product-price .dimmed-price {
    display: block;
    padding-top: 2px;
    color: rgb(181, 181, 181);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: line-through;
    text-align: left;
}
.product-info .discount .discount-rate {
    color: rgb(250, 98, 47);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
    margin-right: 7px;
}
.product-info .discount .sales-price {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
}
.review-count {
    padding-top: 8px;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    color: rgb(153, 153, 153);
}
.review-count > .review-icon {
    width: 15px;
    height: 15px;
    margin-top: 2px;
}
.review-count > .review-icon > svg {
    overflow: hidden;
}
.review-count > .review-number {
    padding-left: 2px;
    font-weight: 400;
}
.mid-ad {
    width: 1050px;
    margin: 0px auto;
    padding: 40px 0px;
    height: auto;
}
.mid-ad > a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 140px;
}
.mid-ad > a > span {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.mid-ad > a > span > img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
#main-02 {
    width: 1050px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    margin-bottom: 300px;
}
#main-02 > #main-02-left {
    width: 249px;
}
#main-02 > #main-02-left h2 {
    margin: 0;
    padding-top: 1px;
    font-size: 28px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.26px;
}
#main-02 > #main-02-left h3 {
    margin: 0;
    padding-top: 11px;
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: normal;
}
#main-02 > #main-02-left > div > div {
    display: flex;
    padding: 24px 0px 6px;
}
#main-02 > #main-02-left .time-units {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 136px;
    font-size: 32px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
#main-02 > #main-02-left .time-units > span {
    position: relative;
    flex-shrink: 0;
    min-width: 38px;
    line-height: 47px;
}
#main-02 > #main-02-left .time-units > span:nth-of-type(1)::after,
#main-02 > #main-02-left .time-units > span:nth-of-type(2)::after {
    line-height: 47px;
    content: ":";
    position: absolute;
    width: 11px;
    height: 50px;
    top: 0px;
    right: -11px;
    font-size: 25px;
    align-content: center;
}
#main-02 > #main-02-left > div > p:nth-last-of-type(1) {
    margin: 0;
    padding-top: 26px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
}
#main-02 > #main-02-right {
    display: flex;
    gap: 18px;
}
.css-17cdx60 {
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
div {
    display: block;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
body {
    margin: 0;
    user-select: none;
    background-color: #fff;
}
:root {
    --swiper-theme-color: #007aff;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
html {
    touch-action: manipulation;
}
html {
    line-height: 1.15;
}
button {
    border-radius: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.css-1i60c0e {
    width: 1050px;
    margin: 0px auto;
}
.css-j6zuv6 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}
.css-4iyald {
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
.css-9jqcug {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}
.css-1uz1ro8 {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}
.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
.css-ho1qnd {
    display: flex;
    flex-direction: row;
}
.css-hupzfj {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
}
.css-1lxmeik {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}
.css-nyq565 {
    display: block;
    width: 140px;
    height: 40px;
    margin-bottom: 16px;
    margin-right: 16px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
}
.css-vtjvf {
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
.css-17hse91 {
    display: flex;
    width: 100%;
    padding-bottom: 29px;
}
ol, ul {
    list-style-type: none;
}
.css-slkv2p:first-of-type {
    margin-left: 0px;
}
.css-slkv2p {
    margin-left: 14px;
}
.css-bz7mfs {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}
.css-1ekjygq {
    padding-left: 4px;
}
.css-1tby8gd {
    margin-left: 3px;
    color: #00c73c;
}
.css-zjik7 {
    display: flex;
    align-items: center;
}
.css-9ipg3 {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.css-81eeg3 {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
}
.css-12t5wjq {
    display: flex;
    text-align: left;
}
.css-1262i6n {
    width: 34px;
    margin-right: 10px;
}
.css-bft4sh {
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
    word-break: break-word;
}
.css-175n8cp {
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}
.css-1vhhy2d {
    display: block;
    padding-top: 7px;
    font-style: normal;
}
footer {
    font-weight: normal;
    text-align: left;
}

#wrap-center {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

/*드롭 다운 카테고리 (수정 필요)*/
nav {
    overflow: hidden;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*드롭다운 css 끝*/


/*회원 페이지 리스트 추가*/

.mem_name + .css-1ho29iy {
    position: absolute;
    display: none;
    right: 49px;
    top: 35px;
    width: 130px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
.mem_name:hover + .css-1ho29iy,
.mem_name + .css-1ho29iy:hover {
    display: block;
}
.mem_name + .css-1ho29iy > div{
    display: block;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}


.mem_name:hover + .menu1,
.menu1:hover, .mem_name+.menu1 > div:hover {
    display: block;
}

