<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.main.order.OrderMapper">

    <insert id="insert" parameterType="OrderDto">
        insert into ord(mem_id, tot_prod_name, tot_prod_price, tot_pay_price, tot_ord_qty, pay_way, ord_ing)
        values(#{mem_id}, #{tot_prod_name}, #{tot_prod_price}, #{tot_pay_price}, #{tot_ord_qty}, #{pay_way}, #{ord_ing});
    </insert>

</mapper>