<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofol.main.order.orderProductMapper">

    <select id="select" parameterType="String" resultType="ProductDto">
        SELECT *
        FROM producttest
        WHERE name = #{name}
    </select>

</mapper>