<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.inquiryPrdMapper">
	<insert id="insert">
		INSERT INTO inquiry_prd (
	        inquiry_id, ord_id, ord_det_id, ord_date,
	        prod_name, prod_qty, prod_tot_price, rg_num, md_num
	    ) VALUES (
	        #{inquiry_id}, #{ord_id}, #{ord_det_id}, #{ord_date},
	        #{prod_name}, #{prod_qty}, #{prod_tot_price}, #{rg_num}, #{md_num}
	    )
		<selectKey keyProperty="inquiry_prd_id" resultType="Long" order="AFTER">
			SELECT MAX(inquiry_prd_id) FROM inquiry_prd
		</selectKey>
	</insert>
	
	<select id="select" resultType="InquiryPrdDto">
		SELECT *
		FROM inquiry_prd
		WHERE
		inquiry_prd_id=#{inquiry_prd_id}
	</select>
	
	<update id="update">
		UPDATE inquiry_prd
	    SET
	        ord_date = #{ord_date},
	        prod_name = #{prod_name},
	        prod_qty = #{prod_qty},
	        prod_tot_price = #{prod_tot_price},
	        rg_num = #{rg_num},
	        md_date = current_timestamp,
	        md_num = #{md_num}
	    WHERE
        inquiry_prd_id = #{inquiry_prd_id}
	</update>

	<delete id="delete">
		DELETE FROM inquiry_prd WHERE inquiry_prd_id = #{inquiry_prd_id}
	</delete>

	<select id="selectAll" resultType="InquiryPrdDto">
		SELECT *
		FROM inquiry_prd
		ORDER BY rg_date DESC, inquiry_prd_id DESC
	</select>

	<delete id="deleteAll">
		DELETE FROM inquiry_prd
	</delete>

	<select id="count" resultType="int">
		SELECT count(*) FROM inquiry_prd
	</select>
	
</mapper>