<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.inquiryMapper">
	<insert id="insert">
		INSERT INTO inquiry (
	        mem_id, type, det_type, title,
	        content, rg_num, md_num
	    ) VALUES (
	        #{mem_id}, #{type}, #{det_type}, #{title},
	        #{content}, #{rg_num}, #{md_num}
	    )
		<selectKey keyProperty="inquiry_id" resultType="Long" order="AFTER">
			SELECT MAX(inquiry_id) FROM inquiry
		</selectKey>
	</insert>
	
	<select id="selectAllByUserId" resultType="InquiryDto">
		SELECT *
		FROM inquiry
		WHERE
		mem_id=#{mem_id}
		ORDER BY rg_date desc
	</select>
	
	<select id="selectByinqId" resultType="InquiryDto">
		SELECT *
		FROM inquiry
		WHERE
		inquiry_id=#{inquiry_id}
	</select>
	
	<select id="select" resultType="InquiryDto">
		SELECT *
		FROM inquiry
		WHERE
		inquiry_id=#{inquiry_id}
	</select>
	
	<update id="update">
		UPDATE inquiry
	    SET
	        mem_id = #{mem_id},
	        type = #{type},
	        det_type = #{det_type},
	        title = #{title},
	        content = #{content},
	        rep_sts = #{rep_sts},
	        rg_num = #{rg_num},
	        md_date = current_timestamp,
	        md_num = #{md_num}
	    WHERE
        inquiry_id = #{inquiry_id}
	</update>

	<delete id="delete">
		DELETE FROM inquiry WHERE inquiry_id = #{inquiry_id}
	</delete>

	<select id="selectAll" resultType="InquiryDto">
		SELECT *
		FROM inquiry
		ORDER BY rg_date DESC, inquiry_id DESC
	</select>

	<delete id="deleteAll">
		DELETE FROM inquiry
	</delete>

	<select id="count" resultType="int">
		SELECT count(*) FROM inquiry
	</select>
	
	<select id="selectNametoSts" resultType="string">
		SELECT column_sts
		FROM code_table
		WHERE
		code_name=#{code_name}
	</select>

	<select id="selectCodeType" resultType="CodeTableDto">
		SELECT *
		FROM code_table
		WHERE
		code_type=#{code_type}
		order by code_type desc, code_no
	</select>

	<select id="selectCodeTypeByCodeName" resultType="CodeTableDto">
		SELECT *
		FROM code_table
		WHERE code_type IN (SELECT sum(code_type + code_no) as sum
				FROM code_table
				WHERE code_name = #{code_name})
		ORDER BY code_type DESC, code_no
	</select>
</mapper>