<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.inquiryImgMapper">
	<insert id="insert">
		 INSERT INTO inquiry_img (
	        inquiry_id, file_name, rg_num, md_num
	    ) VALUES (
	        #{inquiry_id}, #{file_name}, #{rg_num}, #{md_num}
	    )
		<selectKey keyProperty="inquiry_img_id" resultType="Long" order="AFTER">
			SELECT MAX(inquiry_img_id) FROM inquiry_img
		</selectKey>
	</insert>
	
	<select id="select" resultType="InquiryImgDto">
		SELECT *
		FROM inquiry_img
		WHERE
		inquiry_img_id=#{inquiry_img_id}
	</select>
	
	<update id="update">
		UPDATE inquiry_img
	    SET
	        file_name = #{file_name},
	        rg_date = #{rg_date},
	        rg_num = #{rg_num},
	        md_date = current_timestamp,
	        md_num = #{md_num}
	    WHERE
        inquiry_img_id = #{inquiry_img_id}
	</update>

	<delete id="delete">
		DELETE FROM inquiry_img WHERE inquiry_img_id = #{inquiry_img_id}
	</delete>

	<select id="selectAll" resultType="InquiryImgDto">
		SELECT *
		FROM inquiry_img
		ORDER BY rg_date DESC, inquiry_img_id DESC
	</select>

	<delete id="deleteAll">
		DELETE FROM inquiry_img
	</delete>

	<select id="count" resultType="int">
		SELECT count(*) FROM inquiry_img
	</select>
	
</mapper>